/* 設定各數據線的顏色和粗細 */
.chart-series-line.series0 {
    -fx-stroke: blue;
    -fx-stroke-width: 2px;
}

.chart-series-line.series1 {
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}

.chart-series-line.series2 {
    -fx-stroke: green;
    -fx-stroke-width: 2px;
}

.chart-series-line.series3 {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

/* 設定各個數據線的圖例符號和顏色 */
.chart-legend {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-border-color: transparent;
}

.chart-legend-item {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-padding: 1px;
}

.chart-legend-item-symbol.series0 {
    -fx-background-color: blue; 
}

.chart-legend-item-symbol.series1 {
    -fx-background-color: red; 
}

.chart-legend-item-symbol.series2 {
    -fx-background-color: green; 
}

.chart-legend-item-symbol.series3 {
    -fx-background-color: black; 
}