.chart-series-line.series0 {
    -fx-stroke: blue;
    -fx-stroke-width: 2px;
}

.chart-series-line.series1 {
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}

.chart-series-line.series2 {
    -fx-stroke: green;
    -fx-stroke-width: 2px;
}

.chart-series-line.series3 {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.chart-legend-item {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-padding: 5px;
}

.chart-legend-item-symbol {
    -fx-background-radius: 0px;
}

.chart-legend-item-symbol.series0 {
    -fx-background-color: blue; /* 设置第一个系列的图例项符号颜色为蓝色 */
}

.chart-legend-item-symbol.series1 {
    -fx-background-color: red; /* 设置第二个系列的图例项符号颜色为红色 */
}

.chart-legend-item-symbol.series2 {
    -fx-background-color: green; /* 设置第三个系列的图例项符号颜色为绿色 */
}

.chart-legend-item-symbol.series3 {
    -fx-background-color: black; /* 设置第三个系列的图例项符号颜色为绿色 */
}
